.App {
  text-align: center;
}

.title {
padding : 12px;
font-size : 25px;
font-weight: bolder;
font-style: normal;
font-family : sans-serif;
background-color: rgb(241, 222, 197);
}
.nav-styles{
  padding : 12px;
  width : 100%;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  gap:0.5rem;
}
.nav-buttons{
  border:white 1px solid;
  color:white;
  padding: 10px;
  border-radius: 5px;
  background-color: inherit;
}
.nav-buttons:hover{
  background-color: black;
  border:white 1px solid;
}
footer{
  padding: 17px;
  font-size: larger;
  font-weight: bolder;
  width : 100%;
  background-color: grey;
}
.user-content{
  margin : 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0.5rem;
}
.user-card{
  background-color: rgb(173, 226, 202);
  border-radius: 8px;
  width: 250px;
  height: 250px;
}
.btn{
  border: none;
  padding:5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(12, 12, 12);
  color: bisque;
}

.children{
  height : 90vh;
  margin : 1vh;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .adduser{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:0.5rem;
 }